@font-face {
  font-family: "Roboto_0.0.0_system";
  src: url("../../../fonts/Roboto-Medium.ttf");
  font-weight: 500; 
}
@font-face {
  font-family: "Arsenal_12.0.0_google";
  src: url("../../../fonts/Arsenal-Bold_12.0.0_google.ttf");
  font-weight: 700; 
}
@font-face {
  font-family: "Roboto_0.0.0_system";
  src: url("../../../fonts/Roboto-Medium.ttf");
  font-weight: 500; 
}
@font-face {
  font-family: "Arsenal_12.0.0_google";
  src: url("../../../fonts/Arsenal-Bold_12.0.0_google.ttf");
  font-weight: 700; 
}
@font-face {
  font-family: "Roboto_0.0.0_system";
  src: url("../../../fonts/Roboto-Medium.ttf");
  font-weight: 500; 
}
@font-face {
  font-family: "Roboto_0.0.0_system";
  src: url("../../../fonts/Roboto-Medium.ttf");
  font-weight: 500; 
}
@font-face {
  font-family: "Arsenal_12.0.0_google";
  src: url("../../../fonts/Arsenal-Bold_12.0.0_google.ttf");
  font-weight: 700; 
}
@font-face {
  font-family: "Roboto_0.0.0_system";
  src: url("../../../fonts/Roboto-Medium.ttf");
  font-weight: 500; 
}
@font-face {
  font-family: "Arsenal_12.0.0_google";
  src: url("../../../fonts/Arsenal-Bold_12.0.0_google.ttf");
  font-weight: 700; 
}
@font-face {
  font-family: "Roboto_0.0.0_system";
  src: url("../../../fonts/Roboto-Medium.ttf");
  font-weight: 500; 
}
@font-face {
  font-family: "Arsenal_12.0.0_google";
  src: url("../../../fonts/Arsenal-Bold_12.0.0_google.ttf");
  font-weight: 700; 
}